@import 'helpers.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

@include mobile {
  .main {
    h1 {
      font-size: 2rem;
    }
  }
}
