@import '@/styles/helpers.scss';

.post {
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #1a1a1b;

  h3 {
    margin-top: 0.75rem;
  }

  p {
    margin-top: 1rem;
  }
}

.authored {
  color: #7c7e7f;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  align-items: center;
  margin-top: 2rem;
  p {
    margin-top: 0;
  }
}

// comments styles for post

.comments {
  display: flex;
  gap: 0 0.5rem;
  border: 0.75px solid #808283;
  border-radius: 16px;
  padding: 8px;
  button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    background-image: url('~/src/icons/comments.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// sidebar styles for post

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  align-items: center;
  border: 0.75px solid #808283;
  border-radius: 16px;
  padding: 8px;
}

.upvote,
.downvote {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}

.upvote {
  background-image: url('~/src/icons/upvote.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.downvote {
  background-image: url('~/src/icons/downvote.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@include notMobile {
  .post {
    position: relative;
    padding-left: calc(40px + 1rem);
  }

  .comments {
    border: none;
  }

  .sidebar {
    background-color: #161617;
    position: absolute;
    border: none;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    flex-direction: column;
    gap: 0.5rem 0;
    width: 40px;
    padding: 2rem 0;
  }
}
